.dashboard-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

.dashboard-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.offer-button {
    padding: 12px 24px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.offer-button:hover {
    background-color: #0056b3;
}

.logout-button {
    background-color: rgb(223, 38, 38);
}

.logout-button:hover {
    background-color: rgb(173, 26, 26);
}