.my-items-container {
    padding: 0rem 2rem 2rem 2rem; 
    min-height: 100vh;
    overflow-y: auto;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;        
}

.items-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    width: 100%;
    max-width: 800px;      
    justify-content: center;
}

.not-logged-in {
    color: #890f0f;
    font-weight: bold;
    margin-top: 1rem;
}

/* button {
    padding: 12px 20px;
    background-color: #297cd3;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 10px;
}

my-items-container button:hover {
    background-color: #0056b3;
} */